<% include header.ejs %>

    <div class="container">
    <h1 class="title"><%= applicationname %></h1>

    <div class="login">
         <% include login.ejs %>
    </div>
    <div class="signup">
        <% include signup.ejs %>
    </div>

    </div>

<% include footer.ejs %>

