<div class="login_form">
    <h2>Login :</h2>

    <form method="post" action="/login">
        <div class="form_holder">
            <input type="email" name="email" class="form-control" placeholder="email@your.com" required>
        </div>
        <div class="form_holder">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <div class="form_holder">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="javascript:void(0)" id="signup_btn" class="btn btn-primary">Signup</a>
        </div>
    </form>
</div>