body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.title{text-align: center;}
.login_form{text-align: center;}
.login_form h2{margin-right: 392px;}
.form_holder{margin-top: 10px; display: inline-block}

.signup_form{text-align: center}
.signup_form h2{margin-right: 564px;}
